@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  font-family: Roboto;
  letter-spacing: 2px;
  box-sizing: border-box; }

.container-fluid {
  color: black;
  padding: 0;
  position: relative; }
  .container-fluid h2 {
    margin: 0;
    padding: 12px;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    background: #13b0bf; }
  .container-fluid .toggle_info {
    position: absolute;
    text-align: center;
    cursor: pointer;
    top: 6px;
    right: 9px;
    color: #13b0bf;
    font-weight: 700;
    border-radius: 50%;
    border: none; }
  .container-fluid .row .col-sm-4 form {
    height: 100vh;
    border-radius: 0;
    border: 2px solid #13b0bf;
    padding-bottom: 24px;
    border-top: 0;
    overflow: scroll; }
    .container-fluid .row .col-sm-4 form input[type="text"] {
      border-radius: 0;
      border: 2px solid #13b0bf; }
    .container-fluid .row .col-sm-4 form #action {
      width: 100%;
      font-weight: 700;
      color: #fff;
      background: #13b0bf;
      border-radius: 0;
      letter-spacing: 4px; }
      .container-fluid .row .col-sm-4 form #action:hover {
        opacity: 0.8; }
    .container-fluid .row .col-sm-4 form .config {
      padding: 18px 12px 8px 12px;
      border-bottom: 1px solid #13b0bf;
      display: block; }
      .container-fluid .row .col-sm-4 form .config .button {
        float: right;
        font-weight: 700;
        background: transparent;
        border: none;
        cursor: pointer; }
    .container-fluid .row .col-sm-4 form h6 {
      margin-top: 18px;
      font-weight: 700; }
    .container-fluid .row .col-sm-4 form #radio label {
      display: block; }
    .container-fluid .row .col-sm-4 form #radio .shiny-options-group {
      width: 100%;
      display: inline-block;
      display: inline-flex; }
    .container-fluid .row .col-sm-4 form #radio .radio {
      flex: 1 1 0;
      margin: 10px 0;
      font-size: 10px; }
      .container-fluid .row .col-sm-4 form #radio .radio input {
        margin-top: 0; }
    .container-fluid .row .col-sm-4 form .slider {
      margin-bottom: 0; }
  .container-fluid .row .col-sm-8 .mainpanel {
    height: 94vh;
    overflow-y: scroll;
    padding: 12px 42px 0 0; }
  .container-fluid .row .col-sm-8 svg {
    width: 100%; }
  .container-fluid .row .col-sm-8 .shiny-output-error {
    color: #1ec5db;
    font-weight: 700; }
  .container-fluid .row .col-sm-8 .y2tick text {
    letter-spacing: initial; }
  .container-fluid .row .col-sm-8 .flexbox {
    display: inline-flex; }
    .container-fluid .row .col-sm-8 .flexbox div {
      padding: 8px;
      padding-bottom: 32px; }
  .container-fluid .row .col-sm-8 #stock_name {
    font-weight: 700; }
  .container-fluid .row .col-sm-8 table {
    font-size: 12px;
    padding-bottom: 24px;
    white-space: nowrap; }
  .container-fluid .row .col-sm-8 #weblink {
    font-size: 10px; }
  .container-fluid .row .col-sm-8 .gtitle {
    font-weight: 700 !important; }

/*# sourceMappingURL=main.css.map */
